div {
    height: 200px;
    width: 60%;
    margin-bottom: 3%;
    margin-lefT: 10%
}
section{
    margin-top: 10%
}
#group1, #group2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
p{
    background: green;
    color: white;
    padding: 10%;
    width: 10%
}
#translate:hover {
    transform: translate(10%,10%)
}
#translatex:hover {
    transform: translateX(-10%);
}
#translatey:hover {
    transform: translateY(10%);
}
#rotate:hover {
    transform: rotate(45deg)
}
#scale:hover {
    transform: scaleY(1.5)
}
#skew:hover {
    transform: skew(10deg,20deg)
}